@use "sass:math";
@use '../../assets/styles/common/functions' as func;
@import '../../assets/styles/common/vars';

.header {
  background-color: $main-blue;

  &__container {
    background-color: $main-blue;
  }
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: $main-blue;
  column-gap: 1rem;
  min-height: 53px;
  padding-top: 8px;
  padding-bottom: 28px;

  @media (min-width: #{$xxs - 1}) and (max-width: #{$xl - 1}) {
    padding-top: func.fluid(8px, 16px, $xxs, $xl);
    padding-bottom: func.fluid(28px, 58px, $xxs, $xl);
  }

  @media (min-width: #{$xl}) {
    padding-top: 16px;
    padding-bottom: 58px;
  }
}

.headerBottom {
  color: #fff;
  padding-bottom: 52px;

  &__text {
    font-size: $-fs--xxs;
    line-height: $-lh--xxs;
    font-weight: 600;

    @media (min-width: #{$xxs + 1}) and (max-width: #{$xl - 1}) {
      font-size: func.fluid($-fs--xxs, $-fs--xl, $xxs, $xl);
      line-height: func.fluid($-lh--xxs, $-lh--xl, $xxs, $xl);
		}

    @media (min-width:  #{$m + 1px}) {
      max-width: 50%;
    }

    @media (min-width: $xl) {
			font-size: $-fs--xl;
			line-height: $-lh--xl;
		}

    &_green {
      font-weight: 600;
      background-color: $green;
      border-radius: 5px;
      margin-left: 5px;
      line-height: 25px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0;

    @media (min-width: #{$xxs + 1}) and (max-width: #{$xl - 1}) {
      font-size: func.fluid(14px, 23px, $xxs, $xl);
      line-height: func.fluid(20px, 32px, $xxs, $xl);
		}

    @media (min-width: $xl) {
      font-size: 23px;
      line-height: 32px;
      margin: 30px 0 0 0;
		}
  }

  &__img {
    position: relative;
    max-width: unset;
  
    &_big {
      width: 100%;
      height: auto;
    }
  
    &_sm {
      width: 102px;
      height: 39px;
      position: absolute;
      right: 8px;
      bottom: 10px;
    }
  
    figcaption {
      display: none;
    }


    @media (min-width:  #{$m + 1px}) {
      max-width: 48%;
    }
  }

  @media (min-width: #{$xxs - 1}) and (max-width: #{$xl - 1}) {
    padding-bottom: func.fluid(52px, 101px, $xxs, $xl);
  }

  @media (min-width: #{$xl}) {
    padding-bottom: 101px;
  }

  @media (min-width:  #{$m + 1px}) {
    display: flex;
    justify-content: space-between;
  }
}

.text-logo {
  color: #fff;

  &__top {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    @media (min-width:  #{$m + 1px}) {
      font-size: 30px;
      line-height: 32px;
    }
  }

  &__dot {
    color: $orange;
  }

  &__small {
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    opacity: 0.8;

    @media (min-width:  #{$m + 1px}) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.nav {
  padding-top: 8px;

  &__anchor {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    color: #fff;
    position: relative;

    &::before {
      background-color: #fa8c16;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform .3s ease;
      width: 100%;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }

    @media (min-width: #{$xl}) {
      padding-top: 16px;
      padding-bottom: 58px;
    }
  }
}