@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --animation-timing-function: ease-in-out;
	--animation-duration: 0.15s;
  font-size: 16px;

  @media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

:any-link {
	text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 16px;
}