@import './vars';

.button {
  background: $orange;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: .15s;
  
  &:hover {
    background: $hover-orange;
  }
  &:disabled {
    background: $disabled-orange;
  }
}

.anchor {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  position: relative;

  &::before {
    background-color: #fa8c16;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform .3s ease;
    width: 100%;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}