// Colors
$orange: #FA8C16;
$hover-orange: #F16E00;
$pressed-orange: #E16803;
$disabled-orange: #FCC58A;

$main-blue: #2F54EB;
$input-blue: #F5F6FE;

$green: #52C41A;

$grey: #646464;

$black: #000000;
$modal-black: #222222;

// Breakpoints
$zero: 0;
$xxxs: 320px;
$xxs: 375px;
$xs: 480px;
$s: 600px;
$m: 768px;
$l: 924px;
$xl: 1202px;

// Grid
$global-padding: 16px;
$global-margin: 16px;
$grid-gutter-width: 32px;

// Typography
$font-size-root: 16px;
$-fs--xxs: 23px;
$-lh--xxs: 28px;
$-fs--xl: 35px;
$-lh--xl: 48px;